aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
.deps
.dirstamp
.libs
*.lo
*.loT
*.la
Makefile
Makefile.in
stamp-h1
*.o
*.pc
*.tar.bz2
*.tar.gz
*.so
*.swp
*.pyc
build
xcb/bigreq.py
xcb/composite.py
xcb/damage.py
xcb/dpms.py
xcb/glx.py
xcb/randr.py
xcb/record.py
xcb/render.py
xcb/res.py
xcb/screensaver.py
xcb/shape.py
xcb/shm.py
xcb/sync.py
xcb/xc_misc.py
xcb/xevie.py
xcb/xf86dri.py
xcb/xfixes.py
xcb/xinerama.py
xcb/xprint.py
xcb/xproto.py
xcb/xtest.py
xcb/xv.py
xcb/xvmc.py
